<div class="modal" tabindex="-1" style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          {{ equipoForm.id ? 'Actualizar equipo' : 'Agregar equipo' }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onCancel()"
        ></button>
      </div>

      <div class="modal-body">
        <form #maquinaForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label for="unidad" class="form-label">Unidad</label>
            <select
              id="unidad"
              name="unidad"
              class="form-select"
              [(ngModel)]="equipoForm.idUnidad"
              required
            >
              <option *ngFor="let unidad of unidades" [value]="unidad.id">
                {{ unidad.nombre }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label for="modeloEquipo" class="form-label">Modelo</label>
            <select
              id="modeloEquipo"
              name="modeloEquipo"
              class="form-select"
              [(ngModel)]="equipoForm.idModeloEquipo"
              required
            >
              <option *ngFor="let modelo of modelos" [value]="modelo.id">
                {{ modelo.modelo }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label for="matricula" class="form-label">Matrícula</label>
            <input
              type="text"
              id="matricula"
              name="matricula"
              class="form-control"
              [(ngModel)]="equipoForm.matricula"
              required
            />
          </div>

          <div class="mb-3">
            <label for="estadoEquipo" class="form-label">Estado</label>
            <select
              id="estadoEquipo"
              name="estadoEquipo"
              class="form-select"
              [(ngModel)]="equipoForm.estado"
              required
            >
              <option *ngFor="let estado of estados" [value]="estado">
                {{ estado }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label for="observaciones" class="form-label">Observaciones</label>
            <textarea
              id="observaciones"
              name="observaciones"
              class="form-control"
              [(ngModel)]="equipoForm.observaciones"
            ></textarea>
          </div>
          <div class="row justify-content-between mt-3">
            <div class="col-4">
              <button
                  type="submit"
                  class="btn btn-primary w-100"
                  [disabled]="maquinaForm.invalid"
                >
                  {{ equipoForm.id ? 'Actualizar' : 'Guardar' }}
                </button>
            </div>
            <div class="col-4">
              <button
                type="button"
                class="btn btn-secondary w-100"
                data-bs-dismiss="modal"
                (click)="onCancel()">
                Cerrar
              </button>
            </div>
          </div>            
        </form>
      </div>
    </div>
  </div>
</div>