<div class="p-3">
  <h5>Documentos del modelo</h5>

  <ul class="list-group my-3">
    <li
      *ngFor="let doc of documentos"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      {{ doc }}
      <a
        [href]="getDocumentoUrl(doc)"
        target="_blank"
        class="btn btn-sm btn-outline-primary"
        >Descargar</a
      >
    </li>
  </ul>

  <div class="row justify-content-between mt-3">
    <div class="col-9">
      <input
        type="file"
        (change)="onFileSelected($event)"
        class="form-control"
      />
    </div>
    <div class="col-3 text-end">
      <button
        (click)="subirDocumento()"
        [disabled]="!selectedFile"
        class="btn btn-primary"
      >
        Subir documento
      </button>
    </div>
  </div>
</div>
