<div class="backDashboard">
    <div class="row my-2">
        <mapa [equiposDTO]="equiposDTO" class="col-12 ps-0 col-lg-9"></mapa>
        <div class="chartsEstado col-3 text-aline-center">
            <div class="row justify-content-center">
                <p><strong>Estado de los equipos</strong></p>
                <chart-estado
                    class="col-auto"
                    [titulo]="verde"
                    [cantidad]="equiposEnVerde"
                ></chart-estado>
                <chart-estado
                    class="col-auto"
                    [titulo]="amarillo"
                    [cantidad]="equiposEnAmarillo"
                ></chart-estado>
                <chart-estado
                    class="col-auto"
                    [titulo]="rojo"
                    [cantidad]="equiposEnRojo"
                ></chart-estado>
                <chart-estado
                    class="col-auto"
                    [titulo]="negro"
                    [cantidad]="equiposEnNegro"
                ></chart-estado>
            </div>
        </div>

        <chart-capacidad class="col-9 col-lg-12" [equiposDTO]="equiposDTO">
        </chart-capacidad>
    </div>
</div>
