<div class="container">
  <div class="alert alert-dark text-center">Listado de usuarios</div>

  <div class="row mb-3">
    <div class="col-4">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field>
    </div>
  </div>

  <div class="text-end mb-3">
    <button mat-raised-button color="primary" (click)="abrirFormularioUsuario()">
      Nuevo Usuario
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

    <ng-container matColumnDef="Grado">
      <th mat-header-cell *matHeaderCellDef>Grado</th>
      <td mat-cell *matCellDef="let element">{{ element.idGrado }}</td>
    </ng-container>

    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombreCompleto }}</td>
    </ng-container>

    <ng-container matColumnDef="Unidad">
      <th mat-header-cell *matHeaderCellDef>Unidad</th>
      <td mat-cell *matCellDef="let element">{{ element.idUnidad }}</td>
    </ng-container>

    <ng-container matColumnDef="Rol">
      <th mat-header-cell *matHeaderCellDef>Rol</th>
      <td mat-cell *matCellDef="let element">{{ element.rol }}</td>
    </ng-container>

<!-- Columna Acciones -->
<ng-container matColumnDef="acciones">
  <th mat-header-cell *matHeaderCellDef class="bg-dark text-white text-center">Acciones</th>
  <td mat-cell *matCellDef="let element" class="text-center">
    <button
      class="btn btn-dark btn-sm me-2"
      (click)="abrirFormularioUsuario(element)"
      title="Editar usuario"
    >
      <i class="bi bi-pencil"></i>
    </button>
    <button
      class="btn btn-danger btn-sm"
      (click)="eliminarUsuario(element.id)"
      title="Eliminar usuario"
    >
      <i class="bi bi-trash"></i>
    </button>
  </td>
</ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="abrirFormularioUsuario(row)"
      style="cursor: pointer;"
    ></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        No existen datos para la consulta "{{ input.value }}"
      </td>
    </tr>
  </table>

  <div class="text-center my-3" *ngIf="isLoading">
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>

  <app-usuario-form
    *ngIf="mostrarFormulario"
    [usuario]="usuarioSeleccionado"
    [roles]="roles"
    (cerrar)="cerrarFormulario()"
    (guardarUsuario)="guardarUsuario($event)"
  ></app-usuario-form>
</div>
