<div class="list-group">
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >a</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >b</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >c</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >d</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >e</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >f</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >g</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-between align-items-center"
  >
    h con alerta
    <span class="badge text-bg-danger rounded-pill">2</span>
  </a>
</div>
