<div class="list-group">
  <a
    class="list-group-item list-group-item-action list-group-item-dark"
    [routerLink]="['/home']"
    >Panel principal
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >Tipo de maquinaria</a
  >
  <a
    class="list-group-item list-group-item-action list-group-item-dark"
    [routerLink]="['/maquinas']"
    >Maquinaria</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >Tramites</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >Reportes</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >Perfil</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >Gestion de usuarios</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-between align-items-center"
  >
    Notificaciones
    <span class="badge text-bg-danger rounded-pill">2</span>
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >Salir</a
  >
</div>
