<div class="fondo">
    <div *ngIf="isLoading" class="form text-center">
        <p><strong> Cargando... </strong></p>
        <div class="spinner-border text-dark" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
    <div *ngIf="!isLoading">
        <form (ngSubmit)="onSubmit(login)" #login="ngForm">
            <h3>Login</h3>

            <label for="username">Cédula</label>
            <input
                type="text"
                placeholder="Cédula"
                id="username"
                name="username"
                [(ngModel)]="loginDTO.username"
                required
                #username="ngModel"
            />
            @if(username.invalid && (username.dirty || username.touched)){
            @if(username.errors!['required']){
            <div class="alert" style="background-color: rgb(255, 122, 122)">
                Debe ingresar la Cédula
            </div>
            } }

            <label for="password">Contraseña</label>
            <input
                type="password"
                placeholder="Contraseña"
                id="password"
                name="password"
                [(ngModel)]="loginDTO.password"
                required
                #password="ngModel"
            />
            @if(password.invalid && (password.dirty || password.touched)){
            @if(password.errors!['required']){
            <div class="alert" style="background-color: rgb(255, 122, 122)">
                Debe ingresar la Contraseña
            </div>
            } }

            <button type="submit" [disabled]="login.invalid">Ingresar</button>
        </form>
    </div>
</div>
