<div class="titulo text-center my-3">Listado de reportes</div>

<div class="d-flex flex-column align-items-center" style="height: 55vh">
    <div
        class="d-flex flex-column gap-3 overflow-auto px-3"
        style="max-height: 100%"
    >
        <div class="text-center">
            <button
                class="btn btn-dark btn-lg px-4 py-3"
                (click)="generarReporteIndicadoresGestion()"
            >
                Indicadores de Gestión
            </button>
        </div>
    </div>
</div>
