<div class="modal" tabindex="-1" style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar maquina</h5>
        <button
          (click)="onOpen()"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(maquinaForm)" #maquinaForm="ngForm">
          <div>
            <input
              placeholder="matricula"
              name="matricula"
              [(ngModel)]="maquina.matricula"
              class="form-control my-2"
            />
          </div>
          <div>
            <input
              placeholder="marca"
              name="marca"
              [(ngModel)]="maquina.marca"
              class="form-control my-2"
              required
              #marca="ngModel"
            />
            @if(marca.invalid && (marca.dirty || marca.touched)){
            @if(marca.errors!['required']){
            <div class="alert alert-danger">Marca requerida</div>
            } }
          </div>
          <div>
            <input
              placeholder="modelo"
              name="modelo"
              [(ngModel)]="maquina.modelo"
              class="form-control my-2"
            />
          </div>
          <div>
            <input
              placeholder="capacidad"
              name="capacidad"
              [(ngModel)]="maquina.capacidad"
              class="form-control my-2"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary my-2"
            [disabled]="maquinaForm.invalid"
          >
            {{ maquina.id > 0 ? "Modificar" : "Agregar" }}
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onOpen()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
