name: DEPLOY AZURE FRANCISCO

on:
  workflow_dispatch:

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      - name: Install project dependencies
        run: npm install --legacy-peer-deps

      - name: Build the project
        run: npm run build

      - name: Get Id Token
        id: idtoken
        run: echo "result=${ACTIONS_ID_TOKEN_REQUEST_TOKEN}" >> $GITHUB_OUTPUT

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_JOLLY_SMOKE_0B3E9EB0F }}
          action: "upload"
          app_location: "." 
          api_location: "" 
          output_location: "dist/maquinas/browser/"
          github_id_token: ${{ steps.idtoken.outputs.result }}
